*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #f2f4f7;
    font-family: "helvetica", sans-serif;
}
a{
    text-decoration: none;
}

.container .left img{
    width: 300px;

}

.container{
    display: flex;
    height: 100vh;
    align-items: center;
    max-width: 1060px;
    margin-inline: auto;
    padding: 0 40px;
    gap: 80px;
}

.container .left{
    margin-top: -120px;
}

h2{
    font-weight: normal;
    margin-top: 16px;
    line-height: 1.3;
    font-size: 19px;
}

.container .right{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.form-container{
    padding: 16px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 396px;
    margin-bottom: 30px;

}

form input{
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #dddfe2;
    font-family: "helvetica", sans-serif;
}

form input:focus::placeholder{
    color: #a9a9a9;
}

form input:focus{
    outline: 1px solid #1877f2;
}

form a{
    font-size: 14px;
    color: #1877f2;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddfe2;
}

form a:hover{
    text-decoration: underline;
}

.btn{
    background: #1877f2;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.btn.green{
    font-size: 18px;
    background: #42b72a;
    width: fit-content;
    margin: 0 auto;
    margin-top: -10px;
    transition: all 300ms ease;
}

.btn.green:hover{
    background: #3ca727;
}

.right p{
    font-size: 12px;

}

.right p a {
    color: #000;
}