body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
    border: 2px solid powderblue;
    margin: 50px;
    padding: 30px;
    font-family: courier;
  font-size: 160%;
  }